/**
 * YUI Reset
 * @module reset
 * @namespace
 * @requires 
 */
html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var {
    font:inherit;
}

del,ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
	color: #000;
}

/* CSS Reset END */

body {
	background: url(../images/background_1.jpg) no-repeat top center;
}

#page-container {
	margin-left: auto;
	margin-right: auto;
	height: 680px;
}

#header {
	/*background-image: url(../images/header-bg.png) repeat;*/
	background:#000;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
}

#header-index {
	width: 980px;
	height: 103px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	width: 280px;
	height: 103px;
	float: left;
}

#title a {
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/logo.png) center top;
	text-indent: -9999px;
}

#nav {
	float: left;
	margin-top: 34px;
	margin-left: 70px;
}

#nav .nav-list {
	width: 90px;
	height: 35px;
	float: left;
}

.nav-list a {
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	display: block;
	background-image: url(../images/nav-content.png);
}

.nav-list ul {
	display: none;
}

#nav-1 a {
	background-position: -5px 0;
}

#nav-2 a {
	background-position: -105px 0;
}

#nav-3 a {
	background-position: -205px 0;
}

#nav-4 a {
	background-position: -305px 0;
}

#nav-5 a {
	background-position: -405px 0;
}

#nav-6 a {
	background-position: -505px 0;
}

#nav-7 a {
	background-position: -605px 0;
}


#nav-1 a:hover {
	background-position: -5px -35px;
}

#nav-2 a:hover {
	background-position: -105px -35px;
}

#nav-3 a:hover {
	background-position: -205px -35px;
}

#nav-4 a:hover {
	background-position: -305px -35px;
}

#nav-5 a:hover {
	background-position: -405px -35px;
}

#nav-6 a:hover {
	background-position: -505px -35px;
}

#nav-7 a:hover {
	background-position: -605px -35px;
}

#quick-link {
	position: absolute;
	left: 975px;
	top: 10px;
}

#quick-link li {
	float: left;
}

#quick-link a, #quick-link span {
	font-size: 12px;
	color: #6c66b9;
	text-decoration: none;
}

#quick-link span {
	padding: 0 2px;
}

#quick-link a:hover {
	color: #FFF;
}

#content {
	width: 100%;
	height: 222px;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	bottom: 86px;
	z-index: 10;
}

#content-inner {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#content-banner {
	width: 100%;
	height: 50px;
	background-color: #650000;
	position: fixed;
	bottom: 80px;
	z-index: 1;
}

.tabbox {
	width:368px;
	height: 222px;
	float: left;
	overflow:hidden;
	border: 1px solid #000;
}

.tab_conbox{
	height: 184px; 
	background-color: #650000; 
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
}

.tab_conbox li { 
	line-height: 25px;
}

.tab_conbox li a { 
	color: #fff;
}

.tab_con{ 
	display:none;
}

.tabs{
	height: 38px;
	width: 100%;
	background-color: #000;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
}

.tabs li{
	height:38px;
	line-height:38px;
	float:left;
	overflow: hidden;
	position: relative;
	cursor: hand;
	color: #7a72d8;
	font-family: "黑体"; 
	font-size: 14px; 
	padding-left:10px; 
	padding-right: 10px;
}

.tabs .thistab,.tabs .thistab a:hover{
	background: #3a3a3a;
}

.tab_con {
	padding:12px;
	font-size: 14px; 
	line-height:175%;
}

#office-link {
	width: 30px;
	float: left;
}

#office-link li {
	float: left;
}

#con-center {
	margin: auto 30px;
}

#con-center li {

}

#footer {
	height: 80px;
	width: 100%;
	clear: both;
	margin-top: 6px;
	background-color: #1a1a1a;
	position: fixed;
	bottom: 0;
}
#footer-inner {
	width: 980px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#footer ul li {
	margin-left: auto;
	margin-right: auto;
}
#footer select {
	margin-top: 20px;
	margin-left: 24px;
}
#footer li, #footer a {
    color: #999;
    font-size: 12px;
}