/**
 * YUI Reset
 * @module reset
 * @namespace
 * @requires 
 */
html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var {
    font:inherit;
}

del,ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
	color: #000;
}

/* CSS Reset END */

#page-container {
	background: url(../images/background_1.jpg) no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#header {
	/*background-image: url(../images/header-bg.png) repeat;*/
	background:#000;
	filter:alpha(opacity=70); /* IE transparent */
	-moz-opacity:0.7; /* Moz + FF transparent */
	opacity: 0.7; /* CSS3 transparent */
}

#header-index {
	width: 980px;
	height: 103px;
	margin-left: auto;
	margin-right: auto;
}