/*
中文版本控制板样式修正

1.0 版本，由 moja 贡献，Jiehan 微调。

欢迎将您的意见、建议甚至代码提交到：
http://cn.wordpress.org/contact/
*/

*,.wrap h2,
h1#site-heading, .wrap h2, h3.hndle span, #dashboard-widgets h4,
#dashboard_recent_comments .comment-meta .approve,
.tablenav .displaying-num, .howto, label,
.widefat td, .widefat th, .widefat td p, .widefat td ol, .widefat td ul,
.postbox-title-action a, input, select,
span.description, p.help,
p.description, p.indicator-hint
{ font-family:"Microsoft YaHei",Segoe UI,Tahoma,Arial,Verdana,sans-serif;}

body, 
.postbox-title-action a, input,
may-be-removed-in-future-vers-#favorite-actions a,
.widget .widget-inside, .widget .widget-description,
#dashboard_recent_comments .comment-meta .approve,
.appearance_page_custom-header #upload-form p label,
form .forgetmenot label, .form-field p,
.wp_themeSkin .mceMenu span.mceText, .wp_themeSkin .mceMenu .mcePreview,
.menu-name-label span, .auto-add-pages label,
#dashboard_quick_press #media-buttons,
.inline-edit-row fieldset ul.cat-checklist label, .inline-edit-row .catshow, .inline-edit-row .cathide, .inline-edit-row #bulk-titles div,
#the-comment-list .comment-item p.row-actions
{ font-size: 12px;}
 
.widefat th, .widefat td p, .widefat td ol, .widefat td ul,
.postbox p, .postbox ul, .postbox ol, .postbox blockquote, #wp-version-message,
p.help, p.description, .form-wrap,
#dashboard_right_now p.sub,
#contextual-help-wrap p
{ font-size: 14px;}

.howto, em,
#dashboard_right_now p.sub,
.tablenav .displaying-num,
p.install-help, #dashboard_recent_comments .comment-meta .approve,
#utc-time, #local-time,
p.help, p.description, span.description, .form-wrap p,
.inline-edit-row fieldset span.title, .inline-edit-row fieldset span.checkbox-title
{ font-style: normal;}

#poststuff .inside, #poststuff .inside p { font-size: 12px; line-height: 112% }
form.upgrade .hint { font-style: normal; font-weight: bold; font-size: 100% }
.wrap h2 { font: normal 24px/35px; }
h2 .nav-tab { font: normal 24px/35px; }

small em { font-size:12px; color:#666; }

#dashboard_right_now td.b * { font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif !important; }
